@mixin font-face($font-family, $font-weight, $font-style, $font-src) {
  @font-face {
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: $font-style;
    src: $font-src;
    font-display: swap;
  }
}

@mixin hover-footer-logo {
  &:hover {
    fill: #3e3e3e;
  }

  &:focus {
    fill: #3e3e3e;
  }

  &:active {
    fill: #6b6b6b;
  }
}

@mixin hover-footer-icon {
  &:hover {
    fill: #68b738;
  }

  &:focus {
    fill: #68b738;
  }

  &:active {
    fill: #68b738;
    opacity: 0.3;
  }
}

@mixin hover-footer-copyright {
  &:hover .main-footer__copyright-logo-text {
    fill: #444444;
  }

  &:hover .main-footer__copyright-logo {
    fill: #68b738;
  }

  &:active .main-footer__copyright-logo-text {
    fill: #444444;
    opacity: 0.3;
  }

  &:active .main-footer__copyright-logo {
    fill: #68b738;
    opacity: 0.3;
  }
}
