/* здесь используйте глобальные переменные */
$base-color-text: #000000;
$font-weight-regular: 400;
$font-style-normal: normal;
$additional-color-text: #444444;
$desktop-width: 1440px;
$tablet-width: 768px;
