.additional-products__title {
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 24px;
}

.additional-products__name {
  color: #222222;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}

.additional-products__characteristics {
  font-size: 14px;
  line-height: 14px;
}

.additional-products__banner {
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  background-color: rgba(104, 183, 56, 0.85);
}
