.additional__control-list {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  gap: 12px;

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: normal;
    padding-left: 40px;
    flex-direction: row;
    column-gap: 123px;
    flex-wrap: wrap;
    row-gap: 32px;
  }

  @media (min-width: 1440px) {
    padding-left: 0;
    flex-direction: row;
    gap: 125px;
    flex-wrap: nowrap;
  }
}

.additional {
  padding-bottom: 34px;

  @media (min-width: 768px) {
    padding-bottom: 52px;
  }

  @media (min-width: 1440px) {
    padding-bottom: 60px;
  }
}

.additional__subtitle {
  color: $base-color-text;
  font-size: 24px;
  line-height: 26px;
  margin-bottom: 34px;

  @media (min-width: 768px) {
    font-size: 36px;
    line-height: 36px;
    padding-left: 40px;
    margin-bottom: 57px;
  }

  @media (min-width: 1440px) {
    padding-left: 0;
  }
}

.additional__control-item {
  min-height: 30px;
  display: flex;
  align-items: center;
  position: relative;

  @media (min-width: 768px) {
    min-height: 40px;
    width: 221px;
  }

  @media (min-width: 1440px) {
    width: 188px;
  }
}

.additional__checkbox[type="checkbox"]:checked + .additional__control-mark {
  background-image: url("../../images/form-tick.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.additional__control-mark {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  background-color: #ffffff;
  bottom: 1px;

  @media (min-width: 768px) {
    width: 40px;
    height: 40px;
  }
}

.additional__control-label {
  padding-left: 45px;

  @media (min-width: 768px) {
    padding-left: 60px;
    font-size: 20px;
    line-height: normal;
  }
}
