.additional__control-list {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.additional {
  padding-bottom: 34px;
}

.additional__subtitle {
  color: $base-color-text;
  font-size: 24px;
  line-height: 26px;
  margin-bottom: 34px;
}

.additional__control-item {
  min-height: 30px;
  display: flex;
  align-items: center;
}
