.button {
  width: 280px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  text-transform: uppercase;
  font-family: "Oswald", "sans-serif";
  font-size: 16px;
  line-height: 20px;
}

.button.button--primary {
  background-color: #68B738;
  color: #fff;
}

.button.button--secondary {
  color: $additional-color-text;
  background-color: #f2f2f2;
}