.button {
  width: 280px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.button.button--primary {
  background-color: #68b738;
  color: #ffffff;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    background-color: #5eaa2f;
    opacity: 0.3;
    transition-duration: 3s;
  }
}

.button.button--secondary {
  color: #444444;
  background-color: #f2f2f2;

  &:hover {
    background-color: #ebebeb;
  }

  &:active {
    background-color: #ebebeb;
    transition-duration: 3s;
  }
}
