.cat-information__field-group {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  margin: 0;

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: 768px) {
  .cat-information {
    padding-left: 40px;
  }
}

.cat-information__control-list {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  gap: 13px;
  border-top: 1px solid #d9d9d9;
  padding: 22px 20px 19px 20px;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: 768px) {
    padding: 23px 0 27px 27px;
    border: 1px solid #e7e7e7;
    margin-left: 70px;
    margin-right: 70px;
    font-size: 20px;
    line-height: normal;
  }
}

.cat-information__control-item {
  height: 30px;
  align-items: center;
  display: flex;

  @media (min-width: 768px) {
    min-height: 40px;
  }
}

.cat-information__input {
  height: 45px;
  padding: 0;
  border: 1px solid #cdcdcd;

  @media (min-width: 768px) {
    min-height: 52px;
  }

  &.cat-information__input--name {
    min-width: 228px;
    margin-bottom: 14px;

    @media (min-width: 768px) {
      min-width: 568px;
      margin-bottom: 20px;
    }
  }

  &.cat-information__input--weight {
    min-width: 206px;
    margin-bottom: 14px;

    @media (min-width: 768px) {
      min-width: 540px;
      margin-bottom: 20px;
    }
  }

  &.cat-information__input--age {
    min-width: 173px;
    margin-bottom: 24px;

    @media (min-width: 768px) {
      min-width: 498px;
      margin-bottom: 72px;
    }
  }

  &::-webkit-input-placeholder {
    color: $additional-color-text;
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    line-height: 18px;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;

    @media (min-width: 768px) {
      font-size: 20px;
      line-height: normal;
    }
  }

  &::-moz-placeholder {
    color: $additional-color-text;
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    line-height: 18px;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;

    @media (min-width: 768px) {
      font-size: 20px;
      line-height: normal;
    }
  }
}

.cat-information__label {
  margin-right: 9px;

  @media (min-width: 768px) {
    margin-right: 10px;
  }
}
