.catalog__header {
  color: #000;
  font-family: "Oswald", "san-serif";
  font-size: 36px;
  line-height: 36px;
}

.catalog__card-title {
  color: #222;
  font-family: "Oswald", "san-serif";
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.catalog__characteristics-list {
  font-size: 12px;
  line-height: 16px;
}