.comment__input {
  min-width: 280px;
  min-height: 150px;
  resize: none;
  padding: 14px 14px 14px 15px;

  @media (min-width: 768px) {
    width: 628px;
    min-height: 175px;
    padding-top: 11px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 11px;
    margin-left: 40px;
  }

  @media (min-width: 1440px) {
    width: 1220px;
    min-height: 175px;
    padding-top: 9px;
    padding-left: 20px;
    padding-right: 0;
    padding-bottom: 136px;
    margin-left: 0;
  }

  &::-webkit-input-placeholder {
    color: $additional-color-text;
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;

    @media (min-width: 768px) {
      font-size: 20px;
      line-height: 30px;
    }
  }

  &::-moz-placeholder {
    color: $additional-color-text;
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;

    @media (min-width: 768px) {
      font-size: 20px;
      line-height: 30px;
    }
  }

  &:hover {
    border: 1px solid #68b738;
  }
}

.comment {
  padding-bottom: 23px;

  @media (min-width: 768px) {
    padding-bottom: 65px;
  }

  @media (min-width: 1440px) {
    padding-bottom: 70px;
  }
}

.comment__subtitle {
  color: $base-color-text;
  font-size: 24px;
  line-height: 26px;
  margin-bottom: 38px;
  position: relative;
  background: #ffffff;
  box-shadow: -20px 0 0 0#ffffff, 20px 0 0 0#ffffff;

  @media (min-width: 768px) {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 87px;
    box-shadow: 0 0 0 0#ffffff, 40px 0 0 0#ffffff;
    padding-left: 40px;
  }

  @media (min-width: 1440px) {
    margin-bottom: 78px;
    padding-left: 0;
    box-shadow: -40px 0 0 0#ffffff, 40px 0 0 0#ffffff;
  }
}

.comment__subtitle::before {
  content: "";
  position: absolute;
  top: 16px;
  right: 0;
  width: 100vw;
  height: 2px;
  background: transparent;
  box-shadow: 100vw 0 0 #68b738;
  z-index: -1;

  @media (min-width: 768px) {
    top: 22px;
    background: #68b738;
  }
}
