.container {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  max-width: 1220px;
  width: 320px;

  @media (min-width: 768px) {
    padding-left: 30px;
    padding-right: 30px;
    width: 768px;
  }
}
