.example .container {
  padding-top: 25px;
  background-color: #eaeaea;
}

.example__title {
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  margin-bottom: 40px;
}

.example__list {
  margin: 0;
  display: flex;
  justify-content: space-between;
  height: 90px;
}

.example__text {
  color: $additional-color-text;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  margin-bottom: 20px;
}

.example__stat {
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 7.53px;
}

.example__description {
  color: $additional-color-text;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  line-height: 100%;
  width: 77px;
  text-align: center;
  margin: 0;
}

.example__costs {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.example__item {
  background-image: url("../../images/icons/stack.svg#weight-back-border");
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-position: 100% -16px;
  width: 124px;
}
