.form-page {
  font-family: "Oswald", sans-serif;
  color: #444444;
  font-weight: $font-weight-regular;
  font-style: $font-style-normal;
  margin: 0;
}

.form-page .main-header {
  border-bottom: none;

  @media (min-width: 768px) {
    border: none;
  }
}

.form-page .main-footer__contacts {
  background-color: #f2f2f2;

  @media (min-width: 1440px) {
    background-color: #ffffff;
  }
}
