.home-page {
  font-family: "Oswald", sans-serif;
  color: $base-color-text;
  font-weight: $font-weight-regular;
  font-style: $font-style-normal;
  margin: 0;
}

.home-page .navigation__link {
  @media (min-width: 1440px) {
    color: #ffffff;
  }
}

.home-page .active::after {
  @media (min-width: 1440px) {
    background: #ffffff;
  }
}
