.logo {
  display: flex;
  align-items: center;
  gap: 56px;
}

@media (min-width: 768px) {
  .logo {
    gap: 13px;
  }
}

@media (min-width: 1440px) {
  .logo__image {
    width: 118px;
    height: 21px;
  }
}
