.logo {
  display: flex;
  align-items: center;
  gap: 56px;

  @media (max-width: 767px) {
    padding-left: 20px;
    padding-bottom: 15px;
  }
}

@media (min-width: 768px) {
  .logo {
    gap: 13px;
  }
}

@media (min-width: 1440px) {
  .logo__image {
    width: 118px;
    height: 21px;
  }
}

.logo:hover {
  opacity: 0.8;
}

.logo:active {
  opacity: 0.6;
}
