.main-footer__contacts-title {
  color: #111111;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  width: 140px;

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 26px;
    width: 163px;
  }
}

.main-footer .container {
  background-color: #f2f2f2;

  @media (min-width: 768px) {
    padding: 0;
  }
}

.main-footer__contacts-address {
  color: $additional-color-text;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  width: 140px;

  @media (min-width: 768px) {
    text-align: right;
    font-size: 16px;
    line-height: 20px;
    width: 157px;
  }
}

.main-footer__bottom-footer {
  padding: 40px 0 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: 768px) {
    padding: 55px 30px;
    flex-direction: row;
    justify-content: space-between;
  }
}

.main-footer__social-list {
  display: flex;
  gap: 24px;
  margin-bottom: 20px;

  @media (min-width: 768px) {
    margin-bottom: 0;
  }
}

.main-footer__map {
  max-height: 362px;

  @media (min-width: 768px) {
    max-height: 400px;
  }
}

.main-footer__map-frame {
  min-width: 100%;
  min-height: 362px;

  @media (min-width: 768px) {
    min-width: 768px;
    min-height: 400px;
  }
}

.main-footer__contacts {
  padding: 26px 20px 26px 20px;
  display: flex;

  @media (min-width: 768px) {
    padding: 61px 70px 60px 70px;
    justify-content: space-between;
  }
}

@media (min-width: 768px) {
  .main-footer__street {
    display: inline-block;
    margin-bottom: 18px;
  }

  .main-footer__city {
    display: inline-block;
  }
}

.main-footer__social {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: 768px) {
    flex-direction: row;
    min-height: 37px;
    gap: auto;
  }
}

@media (min-width: 768px) {
  .main-footer__social-logo {
    margin-right: 160px;
  }
}

.main-footer__social-logo::after {
  content: url(" ");
  background-image: url("../../images/icons/line-footer.svg");
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  height: 1px;
  margin-bottom: 20px;
  width: 280px;

  @media (min-width: 768px) {
    display: none;
  }
}

.main-footer__copyright::before {
  content: url(" ");
  background-image: url("../../images/icons/line-footer.svg");
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  height: 1px;
  margin-bottom: 20px;
  width: 280px;

  @media (min-width: 768px) {
    display: none;
  }
}

.main-footer__copyright-logo-text {
  fill: #444444;
}

.main-footer__copyright-logo {
  fill: #666666;
}


.main-footer__social-logo-image {
  margin-bottom: 20px;
  align-self: center;
  position: relative;
  left: 76px;

  @media (min-width: 768px) {
    position: static;
    margin-bottom: 0;
  }

  &:hover {
    fill: #3e3e3e;
  }

  &:focus {
    fill: #3e3e3e;
  }

  &:active {
    fill: #6b6b6b;
  }
}

.main-footer__social-icon {
  fill: #666666;

  &:hover {
    fill: #68b738;
  }

  &:focus {
    fill: #68b738;
  }

  &:active {
    fill: #68b738;
    opacity: 0.3;
  }
}

.main-footer__copyright-link {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: 768px) {
    gap: 23px;
  }

  &:hover .main-footer__copyright-logo-text {
    fill: #444444;
  }

  &:hover .main-footer__copyright-logo {
    fill: #68b738;
  }

  &:active .main-footer__copyright-logo-text {
    fill: #444444;
    opacity: 0.3;
  }

  &:active .main-footer__copyright-logo {
    fill: #68b738;
    opacity: 0.3;
  }
}
