.main-footer__contacts-title {
  color: #111;
  font-family: "Oswald", "sans-serif";
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.main-footer__contacts-address {
  color: $additional-color-text;
  font-family: "Lato", "sans-serif";
  font-size: 14px;
  line-height: 20px;
}