.main-footer__contacts-title {
  color: #111111;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.main-footer__contacts-address {
  color: $additional-color-text;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 20px;
}

.main-footer__social-list {
  display: flex;
  gap: 24px;
}

.main-footer__social-logo-image {
  &:hover {
    fill: #3e3e3e;
  }

  &:focus {
    fill: #3e3e3e;
  }

  &:active {
    fill: #6b6b6b;
  }
}

.main-footer__social-icon {
  &:hover {
    fill: #68b738;
  }

  &:focus {
    fill: #68b738;
  }

  &:active {
    fill: #68b738;
    opacity: 0.3;
  }
}

.main-footer__copyright-link {
  &:hover .main-footer__copyright-logo-text {
    fill: #444444;
  }

  &:hover .main-footer__copyright-logo {
    fill: #68b738;
  }

  &:active .main-footer__copyright-logo-text {
    fill: #444444;
    opacity: 0.3;
  }

  &:active .main-footer__copyright-logo {
    fill: #68b738;
    opacity: 0.3;
  }
}
