.navigation {
  display: flex;
  align-items: center;
}

.navigation__link {
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;

  @media (min-width: 1440px) {
    font-size: 20px;
    line-height: normal;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
    transition-duration: 3s;
  }
}

.navigation__list {
  margin: 0;
  padding: 0;

  @media (max-width: 767px) {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    top: 65px;
    z-index: 100;
  }
}

.navigation__item {
  @media (max-width: 767px) {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 64px;
    border-top: 1px solid #e6e6e6;
    align-items: center;

    &:last-child {
      border-bottom: 1px solid #e6e6e6;
    }
  }
}

.navigation__toggle {
  border: none;
  background-color: transparent;
  padding: 0;
  position: absolute;
  top: 18px;
  left: 275px;
}

.navigation__bars {
  position: relative;
  top: 3px;
}

@media (min-width: 768px) {
  .navigation__toggle {
    display: none;
  }

  .navigation__list {
    display: flex;
    flex-wrap: wrap;
    gap: 33px;
  }
}
