.programs {
  margin-bottom: 20px;
}

.programs__title {
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  margin: 0;
  padding-left: 70px;
  padding-top: 9px;
  margin-bottom: 29px;
}

.programs__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.programs__wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.programs__item {
  background-color: #f2f2f2;
  min-width: 280px;
  padding: 21px 33px 18px 20px;
}

.programs__description {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: $additional-color-text;
  min-width: 227px;
  margin: 0;
  margin-bottom: 23px;
}

.programs__link {
  &:active .programs__link-text {
    opacity: 0.3;
  }

  &:active .programs__vector {
    opacity: 0.3;
  }
}

.programs__link::before {
  content: url(" ");
  background-image: url("../../images/icons/stack.svg#line-programs");
  display: flex;
  background-size: 240px 1px;
  background-repeat: no-repeat;
  align-items: flex-start;
  height: 1px;
  margin-bottom: 15px;
}

.programs__link-text {
  text-align: center;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $base-color-text;
  margin-right: 15px;
}

.programs__vector {
  position: relative;
  bottom: 2px;
}

.programs__item--losing-weight {
  background-image: url("../../images/icons/stack.svg#cat-weight-loss");
  background-size: 50px 53px;
  background-repeat: no-repeat;
  background-position: 20px 21px;
}

.programs__item--weight-gain {
  background-image: url("../../images/icons/stack.svg#cat-weight-gain");
  background-size: 67px 50px;
  background-repeat: no-repeat;
  background-position: 13px 24px;
}
