.user-contact__field-group {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  margin: 0;

  @media (min-width: 768px) {
    padding-left: 40px;
    font-size: 20px;
    line-height: normal;
  }
}

.user-contact {
  padding-bottom: 24px;

  @media (min-width: 768px) {
    padding-bottom: 65px;
  }
}

.user-contact__subtitle {
  color: $base-color-text;
  font-size: 24px;
  line-height: 26px;
  padding-top: 22px;
  margin-bottom: 35px;

  @media (min-width: 768px) {
    padding-top: 65px;
    padding-left: 40px;
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 76px;
  }
}

.user-contact__label {
  margin-right: 9px;
}

.user-contact__icon {
  position: absolute;
  left: 268px;
  top: 705px;

  @media (min-width: 768px) {
    left: 664px;
    top: 1038px;
  }

  &.user-contact__icon--phone {
    top: 765px;

    @media (min-width: 768px) {
      top: 1110px;
    }
  }
}

.user-contact__input {
  height: 45px;
  padding: 0;
  border: 1px solid #cdcdcd;

  @media (min-width: 768px) {
    min-height: 52px;
  }

  &.user-contact__input--email {
    min-width: 217px;
    margin-bottom: 14px;

    @media (min-width: 768px) {
      min-width: 552px;
      margin-bottom: 20px;
    }
  }

  &.user-contact__input--phone {
    min-width: 200px;

    @media (min-width: 768px) {
      min-width: 530px;
    }
  }

  &::-webkit-input-placeholder {
    color: $additional-color-text;
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;

    @media (min-width: 768px) {
      font-size: 20px;
      line-height: normal;
    }
  }

  &::-moz-placeholder {
    color: $additional-color-text;
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;

    @media (min-width: 768px) {
      font-size: 20px;
      line-height: normal;
    }
  }
}
